<h1>About us</h1>

<p>Ciao visitatore o utente di CoViD, io sono Camilla e ho sviluppato questa applicazione per te, per dare spazio alle tue emozioni raccontando la tua vita.
Ovunque tu sia, a casa, in ospedale, entra o registrati per condividere ciò che vuoi con gli altri!
</p>
