<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="post_form">
        <%= render 'devise/shared/post_form' %>
      </section>
    </aside>
  <div class="col-md-8">
    <section class="post_form">
        <%= render 'devise/shared/feed' %>
    </section>
  </div>
  </div>
<% else %>
    <div class="center jumbotron">

        <h1>Benvenuto in CoViD!</h1>

        <h2> Contatto Vicino-Distante </h2>

        <%= link_to "Registrati", new_user_registration_path, class: "btn btn-lg btn-primary" %>

        <%= link_to "Accedi", new_user_session_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
