<h1>Per sapere di più</h1>

<h3> Sai perchè CoViD? </h3>

<p> CoViD è una piattaforma che permette alle persone colpite da un virus, da malattie e costrette a casa o in ospedale di condividere pensieri, esperienze, attività con altre persone, altrettanto nella stessa condizione.
Il nome dell'applicazione, oltre ad essere un acronimo, evoca un virus che si è diffuso molto velocemente in tutto il mondo e che ha portato le persone ad allontanarsi le une con le altre.
Si crea quindi questa relazione tra ciò che allontana tra di loro le persone ovvero il virus Covid e l'applicazione CoViD che permette il loro riavvicinamento seppur distante.
</p>
