<% provide(:title, 'Registrati') %>

    <% flash.each do |type, msg| %>
      <div class = "alert alert-info">
        <%= msg %>
      </div>
    <% end %>

<h1>Registrazione utente</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.label :nome %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :cognome %>
      <%= f.text_field :surname, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>

      <%= f.label :città %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :provincia %>
      <%= f.text_field :province, class: 'form-control' %>

      <%= f.label :via %>
      <%= f.text_field :street, class: 'form-control' %>

      <%= f.label :compleanno%>
      <%= f.date_select :birth, min: Date.new(1900, 01, 01), max: Date.today, class: 'form-control' %>

      <%= f.label :malattia %>
      <%= f.text_field :desease, class: 'form-control' %>

      <%= f.label :Password %>
      <%= f.password_field :password, autofocus: true, class: 'form-control' %>

      <%= f.label :password_confirmation, "Conferma password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Crea il mio account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

