
<% flash.each do |type, msg| %>
    <div class = "alert alert-info">
       <%= msg %>
    </div>
<% end %>

<h4>Homepage</h4>

<%= form_tag users_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Cerca utente/malattia", class: 'w-50 p-2 left-margin 10px', style: 'margin-left: 2px' %>
    <%= submit_tag "Cerca", name: nil, desease: nil, class: 'btn btn-outline-info' %>
<% end %>

<br/>

<p> Oppure cerca tramite mappa </p>

<div id="map">
  <script type="text/javascript">

        var locations = [
            ['Roma',41.9109, 12.4818]
            ['Firenze',43.7874, 11.2499]
            ['Perugia',43.0977, 12.3838]
            ['Ancona',43.5991, 13.511]
        ];

        var map, infoWindow;
        var marker1, marker2,marker3,marker4;

        function initMap() {
            var pos = {lat: 41.9109, lng: 12.4818};
            map = new google.maps.Map(document.getElementById('map'), {
                center: pos,
                zoom: 6
            });

            marker1 = new google.maps.Marker({
                    position: pos,
                    map: map,
                    title: "Roma"
            });
            marker2 = new google.maps.Marker({
                    position: {lat: 43.7874, lng: 11.2499},
                    map: map,
                    title: "Firenze"
            });
            marker3 = new google.maps.Marker({
                    position: {lat: 43.0977, lng: 12.3838},
                    map: map,
                    title: "Perugia"
            });
            marker4 = new google.maps.Marker({
                    position: {lat: 43.5991, lng: 13.511},
                    map: map,
                    title: "Ancona"
            });
            // HTML5 geolocation. Documentation on W3School
            if (navigator.geolocation) {
                  navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                        };
                        var admin_pos = {
                          lat: 41.445060,
                          lng: 13.405450
                        };
                        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                        var marker = new google.maps.Marker({position: pos, map: map});
                        var admin = new google.maps.Marker({position: admin_pos, map: map, icon:image });
                        infoWindow.setPosition(pos);
                        infoWindow.setContent("Sei qui");
                        infoWindow.open(map);
                        map.setCenter(pos);
                  }, function() {
                        handleLocationError(true, infoWindow, map.getCenter());
                      });
                } else {
                      // Browser doesn't support Geolocation
                      handleLocationError(false, infoWindow, map.getCenter());
                }
        }
 </script>
</div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoFl9lO6dzSKXMs_5fzSLv_NYiOES7ab4&callback=initMap&libraries=&v=weekly"
      async
></script>











<!--
        var marker = new google.maps.Marker({position: pos, map: map});
        infoWindow = new google.maps.InfoWindow;

        var num_markers = locations.length;
        //var markers = [];

            for (var i = 0; i < num_markers; i++) {
                markers[i] = new google.maps.Marker({
                    position: {lat:locations[i][1], lng:locations[i][2]},
                        map: map,
                        html: locations[i][0],
                        id: i,
                    });
                    google.maps.event.addListener(markers[i], 'click', function(){
                      infowindow = new google.maps.InfoWindow({
                        id: this.id,
                        content:this.html,
                        position:this.getPosition()
                      });
                      google.maps.event.addListenerOnce(infowindow, 'closeclick', function(){
                        markers[this.id].setVisible(true);
                      });
                      this.setVisible(false);
                      infowindow.open(map);
                    });
            }

            //var marker = new google.maps.Marker({position: pos, map: map});
            //var marker1 = new google.maps.Marker({position: pos1, map: map});
            //infoWindow = new google.maps.InfoWindow;
            //infowindow = new google.maps.InfoWindow();

        // HTML5 geolocation. Documentation on W3School
        if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    };
                    var admin_pos = {
                      lat: 41.445060,
                      lng: 13.405450
                    };
                    var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                    var marker = new google.maps.Marker({position: pos, map: map});
                    var admin = new google.maps.Marker({position: admin_pos, map: map, icon:image });
                    infoWindow.setPosition(pos);
                    infoWindow.setContent("You're here");
                    infoWindow.open(map);
                    map.setCenter(pos);
              }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                  });
            } else {
                  // Browser doesn't support Geolocation
                  handleLocationError(false, infoWindow, map.getCenter());
            }


<div id="map">
</div>

<script>

    var map;
    var pos = {lat: 41.9109, lng: 12.4818};

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: pos,
            zoom: 6
        });
    }
    var marker;
    function createMarker(coords, map, title){
        marker = new google.maps.Marker({
               position: coords,
               map: map,
               title: title
    });
}
</script>

-->


<!--
1) Linea 34 - le coordinate verrano prese dalla provincia dell utente,
    questa provincia verra passata in un API del geocoding per trasformarla in coordinate
2) NO- Fare una query al database per trovare tutti gli utenti sotto una specifica provincia
    questa query dovrebbe avere come return una list di user_ids
3) Una volta che abbiamo ricevuto gli ID possiamo cercare questi utenti, trovare la loro citta,
    e usare il geocode API per mettere un marker della citta sulla mappa che gia abbiamo creato
4) Cercare il modo di attaccare una custom callback sui marker che usi una semplice funzione che
    crea l' URL usando l'user_id e usa la funzione di js redirect con l URL

-->



