<h4>Homepage</h4>

<%= form_for :post, html: { multipart: true } do |f| %>
      
      <div class="field">
         <%= f.text_area :content, placeholder: "Scrivi qui i tuoi pensieri..." %>
      </div>
      <%= f.submit "Pubblica", class: "btn btn-primary" %>
      <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>  
<% end %> 




<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('La dimensione massima del file è 5 MB. Scegli un file più piccolo.');
    }
  });
</script>
