<% provide(:title, "Diary") %>


<h1>Modifica il tuo diario</h1>


<%= form_for :diary, url: user_diary_path(current_user), html: { method: :put, params: current_user.diary } do |d| %>

      <div class="field">
         <%= d.text_area :content, cols: 20, rows: 15%>
      </div>
      <%= d.submit "Aggiorna", class: "btn btn-primary" %>

<% end %>

<br>
<br>
<br>

<%= link_to 'Indietro', user_diary_path(current_user), class: "btn btn-primary" %>

