<% provide(:title, "Diary") %>

<% flash.each do |type, msg| %>
    <div class = "alert alert-info">
       <%= msg %>
    </div>
<% end %>

<h1>Crea il tuo diario</h1>


<%= form_for :diary, url: user_diaries_path(current_user), html: { method: :post } do |d| %>
      <div class="field">
         <%= d.text_area :content, cols: 20, rows: 15, placeholder: "Annota qui", id: :write_diary%>
      </div>
      <%= d.submit "Crea", class: "btn btn-primary" %>

<% end %>

<br>
<br>
<br>

<%= link_to 'Indietro', user_path(current_user), class: "btn btn-primary" %>



