<% provide(:title, "Diary") %>

<% flash.each do |type, msg| %>
    <div class = "alert alert-info">
       <%= msg %>
    </div>
<% end %>


<h1>Il mio diario</h1>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <strong><%= @user.name %></strong> |
        <strong><%= @user.desease %></strong> 
    </section>
  </aside>
</div>

<% if @user.diary.nil? %>
   <h3> Diario non creato! </h3>
<% else %>
   <div class="col-md-4">
      <% if current_user?(@user) %>
         <h3>Il tuo diario</h3>
         <%= render current_user.diary %>
      <% else %>
         <h3>Diario di <%= @user.name %></h3>
	 <%= render @user.diary %>
      <% end %>
  </div>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>

<% if current_user?(@user) %>
    <h3>Le tue recensioni </h3>
    <% if current_user.reviews.empty?  %>
        <p> Ancora non hai recensioni! </p>
    <% end %>
<% else %>
    <h3> Le recensioni di <%= @user.name %></h3>
    <% if @user.reviews.empty?  %>
    	<p> <%= @user.name %> non ha ancora recensioni! </p>
    <% end %>
<% end %>



<% @user.reviews.each do |review| %>
	<p>
	    <bf><h5>Recensione: </h5>
	    <bf></bf><%= review.body %> <br>
            <br>
            <bf>Voto: </bf><%= review.score %> <br>
  	</p>
        
        <p>
	<%= link_to 'Rimuovi recensione', [review.user, review],
		   method: :delete,
		   data: { confirm: "Sei sicuro di voler eliminare la recensione?" } %></p>

<% end %>


<br>
<br>
<br>
<br>
<br>
<br>

<% if current_user?(@user) %>
      <% if !@user.diary.nil? %>
	<%= link_to 'Modifica diario', edit_user_diary_path(current_user,current_user.diary), class: "btn btn-primary"   %> |
	<%= link_to 'Cancella diario', user_diary_path(current_user), method: :delete,
		   data: { confirm: "Sei sicuro di voler eliminare il diario?" }, class: 'btn btn-danger'  %>
      <% else %>
        <%= link_to 'Crea diario', new_user_diary_path(current_user,current_user.diary), class: "btn btn-primary" %>
      <% end %>
<% else %>
	<%= link_to 'Fai una recensione', new_user_review_path(current_user,current_user.reviews), class: "btn btn-primary" %>
<% end %>


