<% provide(:title, 'All users') %>

<div class="center jumbotron">
	<h4>I tuoi risultati:</h4>

	<ul class="users">
	  <% @users.each do |user| %>
	    <li>
	      <strong><%= link_to user.name, user %></strong>
	      <%= image_tag user.picture.url if user.picture? %>
	      <% if current_user.admin? && !current_user?(user) %>
		| <%= link_to "Cancella utente", user, method: :delete,
		                          data: { confirm: "Sei sicuro di voler eliminare definitivamente l'utente corrente?" } %>
	      <% end %>
	    </li>
	  <% end %>
	</ul>
</div>
