<% provide(:title, @user.name) %>

<h4>Profilo</h4>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1>
	  <%= image_tag @user.picture.url if @user.picture? %>
	  <br>
          <br>
          <strong>Nome:</strong>
          <%= @user.name %>
          <br>
          <strong>Cognome:</strong>
          <%= @user.surname %>
          <br>
          <strong>Email:</strong>
          <%= @user.email %>
          <br>
          <strong>Città:</strong>
          <%= @user.city %>
          <br>
          <strong>Provincia:</strong>
          <%= @user.province %>
          <br>
          <strong>Via:</strong>
          <%= @user.street %>
          <br>
          <strong>Data di nascita:</strong>
          <%= @user.birth %>
          <br>
          <strong>Malattia:</strong>
          <%= @user.desease %>
          <br>

      </h1>
    </section>
           <br>
           <br>
	   <% if @user == current_user %>
		<%= link_to 'Modifica', edit_user_path(current_user), class: "btn btn-primary"  %> |
		<%= link_to 'Modifica password', edit_user_password_path(current_user), class: "btn btn-primary"  %> |
		<%= link_to 'Diario', user_diary_path(current_user), class: "btn btn-primary" %>
		<% if !current_user.admin? %>
		  | <%= link_to 'Cancella account', user_path(current_user), method: :delete, data: { confirm: 'Sei sicuro di voler cancellare il tuo account?' }, class: 'btn btn-danger' %>
		<% end %>
	<% else %> 
		 <%= link_to 'Diario', user_diary_path(@user), class: "btn btn-primary" %>
	<% end %>
  </aside>



  <div class="col-md-4">
    <% if !current_user.admin? %>
      <% if @user.posts.any? %>
        <h3>I tuoi post (<%= @user.posts.count %>)</h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    <% end %>
  </div>
</div>







