<% provide(:title, "Password dimenticata") %>

    <% flash.each do |type, msg| %>
      <div class = "alert alert-info">
        <%= msg %>
      </div>
    <% end %>

<h1>Password dimenticata?</h1>
<h2>Niente paura! Reimpostala qui</h2>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post })  do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Invia", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
