
<li id="post-<%= post.id %>">
  <span class="content">
	<%= post.content %>
        <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user?(post.user) || current_user.admin? %>
     <p> <%= link_to "Cancella post", post, method: :delete,
                                       data: { confirm: "Sei sicuro?" } %>
     </p> 
    <% end %>
  </span>
</li>
