<h1>Reset password</h1>

<p>Per reimpostare la tua password clicca sul link sottostante:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Questo link scadrà tra due ore.</p>

<p>Se non hai richiesto la reimpostazione della password, ignora questa e-mail e la password rimarrà così com'è.</p>
