<h2> Modifica una recensione </h2>

<%= form_with model: [ @review.user, @review ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class 'form-control' %>
  </p>
  <p>
    <%= form.label :score %><br>
    <%= form.collection_select :score, [1,2,3,4,5,6,7,8,9,10], :to_i, :to_s%>
  </p>

  <p>
    <%= form.label :user %><br>
    <%= form.collection_select :user, User.all, :id, :name%>
  </p>

  <p>
  	
    <%= form.submit "Modifica recensione" %>
  </p>
<% end %>

