<% provide(:title, "Review") %>

<h1> Scrivi una recensione </h1>

<%= form_for :review,  url: user_reviews_path(current_user), html: { method: :post } do |form| %>
  <p>
    <%= form.label :recensione %><br>
    <%= form.text_area :body,cols: 20, rows: 15, class: 'form-control' %>
  </p>
  <p>
    <%= form.label :voto %><br>
    <%= form.collection_select :score, [1,2,3,4,5,6,7,8,9,10], :to_i, :to_s%>
  </p>

  <p>
    <%= form.submit "Pubblica recensione", class: "btn btn-primary"  %>
  </p>
<% end %>

