<footer class="footer">
  <small> CoViD application</small>
  <nav>
    <ul>
      <li><%= link_to "Info", info_path %></li>
      <li><%= link_to "About us", aboutus_path  %></li>
      <li><%= link_to "Contact us", contactus_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Valuta", '#' %></li>
        <% if current_user.admin? %>
	  <li><%= link_to "Utenti", users_path %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</footer>
