<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container"> 
    <%= link_to "CoViD", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "Profilo", user_path(current_user) %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
