<% provide(:title, "Edit user") %>

<h1>Modifica il tuo profilo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: current_user, url: user_path(resource_name), html: { method: :put, params: current_user}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <%= f.label :nome %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :cognome %>
      <%= f.text_field :surname, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :città %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :provincia %>
      <%= f.text_field :province, class: 'form-control' %>

      <%= f.label :via %>
      <%= f.text_field :street, class: 'form-control' %>

      <%= f.label :compleanno %>
      <%= f.date_field :birth, class: 'form-control' %>

      <%= f.label :malattia %>
      <%= f.text_field :desease, class: 'form-control' %>

      <%= f.label :foto %>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

      <%= f.submit "Salva", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', current_user, class: "btn btn-primary" %>

<script type="text/javascript">
  $('#post_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('La dimensione massima del file è 5 MB. Scegli un file più piccolo.');
    }
  });
</script>
