<% provide(:title, 'Registrati') %>

    <% flash.each do |type, msg| %>
      <div class = "alert alert-info">
        <%= msg %>
      </div>
    <% end %>

<h1>Registrazione utente</h1>

<script>
  $( document ).ready(function() {
    $('.datepicker').datepicker({
      inputFormat: ["dd/MM/yyyy"],
      outputFormat: 'dd/MM/yyyy',
     });
  });

</script>

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.label :Nome %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :Cognome %>
      <%= f.text_field :surname, class: 'form-control' %>

      <%= f.label :Email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :Città %>
      <%= f.text_field :city, class: 'form-control' %>

      <%= f.label :Provincia %>
      <%= f.text_field :province, class: 'form-control' %>

      <%= f.label :Via %>
      <%= f.text_field :street, class: 'form-control' %>

      <%= f.label :Nascita%>
      <%= f.date_field :birth, id: "datepicker", min: Date.new(1900, 01, 01), max: Date.today, class: 'form-control'%>
      

      <%= f.label :Malattia %>
      <%= f.text_field :desease, class: 'form-control' %>

      <%= f.label :Password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Conferma password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Crea il mio account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

